<html>
<head>
    <title>Router Manager</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Register Router</h1>
    <h2>You are calling me from {{ request.remote_addr }}</h2>

    <form method="POST" action="/add">
        <input name="ip" placeholder="Router IP" required />
        <input name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Add Router</button>
    </form>

    <h2>Router List</h2>
    <ul>
        {% for router in routers %}
          <li>
            <a href="{{ url_for('router_detail', router_ip=router.ip) }}">
                {{ router.ip }}
            </a> - {{ router.username }}
            <form method="POST" action="{{ url_for('delete_router') }}" style="display:inline">
              <input type="hidden" name="id" value="{{ router._id }}">
              <button type="submit">Delete</button>
            </form>
          </li>
        {% endfor %}
    </ul>
</body>
</html>
